jb-loading.forest-style {
  --jb-loading-width: 3rem;
  --jb-loading-height: 3rem;
  --jb-loading-color: #f6d365;
}

jb-loading.forest-style.small-loading {
  --jb-loading-width: 1.75rem;
  --jb-loading-height: 1.75rem;
  --jb-loading-color: #86efac;
}

jb-loading.forest-style.large-loading {
  --jb-loading-width: 4.5rem;
  --jb-loading-height: 4.5rem;
  --jb-loading-color: #2f6b45;
}
