jb-loading.fluent-style {
  --jb-loading-width: 2rem;
  --jb-loading-height: 2rem;
  --jb-loading-color: var(--jb-focus-color);
}

jb-loading.fluent-style.small-loading {
  --jb-loading-width: 1.125rem;
  --jb-loading-height: 1.125rem;
  --jb-loading-color: #605e5c;
}

jb-loading.fluent-style.large-loading {
  --jb-loading-width: 3rem;
  --jb-loading-height: 3rem;
  --jb-loading-color: var(--jb-primary-hover);
}
