jb-loading.material-style {
  --jb-loading-width: 3rem;
  --jb-loading-height: 3rem;
  --jb-loading-color: var(--jb-primary);
}

jb-loading.material-style.small-loading {
  --jb-loading-width: 1.75rem;
  --jb-loading-height: 1.75rem;
  --jb-loading-color: var(--jb-secondary);
}

jb-loading.material-style.large-loading {
  --jb-loading-width: 4.5rem;
  --jb-loading-height: 4.5rem;
  --jb-loading-color: var(--jb-primary);
}
